* {
    box-sizing: border-box;
}

:root {
    --boldfont: 'Poppins', sans-serif;
    --regfont: 'Nunito Sans', sans-serif;
    --headerblue: #3ba7d9;
    --lightblue: #13cdf2;
    --white: #ffffff;
    --black: #000000;
    --lightblack: #555454;
    --purple: #5538c8;
    --shadow: #f3f3f3;
}

h1, h2, h3, h4, h5 {
    font-family: var(--boldfont);
}

.black {
    color: var(--lightblack);
}

.blue {
    color: var(--lightblue);
}

.containercolumn {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.containerrow {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: var(--white);
    box-shadow: 5px 1px var(--shadow);
    width: 95%;
    max-width: 1270px;
    margin-bottom: 2%;
    padding: 2% 5%;
}

.centar {
    text-align: center;
}

/* .left {
    text-align: left;
    align-self: flex-start;
    max-width: 1000px;
    margin: 2% 9%;
} */

body {
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    flex-flow: column;
    font-family: var(--regfont);
    text-align: center;
    justify-content: center;
    align-items: center;
}

header {
    background-color: var(--headerblue);
    width: 100%;
    margin: 0;
    color: var(--white);
}

.mainheading {
    justify-content: flex-start;
    margin-left: 8%;
    margin-top: 5%;
}

header h1 {
    font-size: 39px;
    line-height: 42px;
    text-align: left;
    margin-top: 2%;
    z-index: 1;
}

header span {
    font-size: 50px;
    font-family: var(--boldfont);
    z-index: 1;
    margin-bottom: -15%;
}

h2 {
    font-size: 40px;
    color: var(--lightblue);
}

h3 {
    font-size: 27px;
}

h4 {
    font-size: 35px;
    margin-bottom: 0px;
}

p, ul {
    font-size: 20px;
    line-height: 34px;
    letter-spacing: -1px;
}

p ul {
    list-style: none;
    padding: 0;
}

.nomargin {
    margin: 0;
}

.nomargin li {
    font-size: 17px;
    line-height: 26px;
}

main {
    display: flex;
    flex-flow: column;
    align-items: center;
    color: var(--lightblack);
    width: 100%;
}

main .box:first-child {
    margin-top: 2%;
}

.quote {
    width: 90%;
    align-self: center;
    font-size: 22px;
}

figure {
    width: 100%;
    margin: 0;
}

figure blockquote {
    text-align: left;
    margin: 0;
}

figcaption {
    text-align: end;
}

.modcontent {
    display: flex;
    align-items: center;
    justify-content: center;
    background: center no-repeat url("../imgs/cover.png");
    background-size: cover;
    margin: 5% 0;
    flex: 1;
}

.modcontent ul {
    list-style: none;
    padding: 0;
}

.modalidades h3 {
    color: var(--lightblue);
}

.modalidades h4 {
    font-size: 24px;
    font-family: var(--regfont);
}

.bigmargin {
    margin: 12% 0;
}

.modalidades {
    width: 95%;
    box-shadow: none;
}

.round-button {
    background-color: var(--lightblue);
    border-radius: 25px;
    border: transparent;
    margin: 0 0 4% 0;
}

.round-button:hover {
    background-color: var(--purple);
}

.round-button a {
    color: var(--white);
    text-decoration: none;
    font-size: 25px;
    line-height: 40px;
    padding: 10px 15px;
}

.yt {
    font-size: 21px;
    text-align: center;
    margin: 30px 0;
    color: var(--white);
}

.ret-button {
    border: 5px solid var(--white);
    background-color: var(--headerblue);
    margin: 20px 0;
}

.ret-button a {
    text-decoration: none;
    font-size: 30px;
    line-height: 50px;
    margin: 10px;
    color: var(--white);
}

.video {
    background-color: var(--headerblue);
    width: 100%;
}

iframe {
    margin-bottom: 4%;
}

footer {
    background-color: var(--headerblue);
    margin-top: 5px;
    width: 100%;
    padding: 3% 0 1% 0;
    color: var(--white);
}

footer ul {
    list-style: none;
}

/* .contact h2, .contact span, .contact a {
    color: var(--white);
}

.contact h2 {
    font-size: 37px;
}

.contact a {
    text-decoration: none;
} */

.contact-left, .contact-left div {
    width: 100%;
}

.contact-left>div:first-child {
    padding-bottom: 9%;
    border-bottom: 1px solid var(--white);
    width: 90%;
}

.contact-left>div:last-child {
    margin: 5% 0;
}

.contact-left span {
    line-height: 3em;
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: var(--white);
    margin-right: 3%;
}

.contact-left img {
    height: 25px;
}

footer p, footer ul {
    font-size: 16px;
    line-height: unset;
    letter-spacing: unset;
}

.contact-left p {
    margin: 0 0 0 2%;
}

.social {
    margin: 0 15px;
}

.social img {
    height: 50px;
}

.logo {
    width: 100%;
}

.logo img {
    height: 125px;
}

/* hamburger */

nav {
    background: var(--headerblue);
    height: 10vh;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links a:hover {
    color: var(--black);
}

.nav-links li a {
    color: var(--white);
    text-decoration: none;
    font-size: 16px;
}

@media screen and (max-width: 1027px) {
    .line {
        width: 30px;
        height: 3px;
        background: var(--white);
        margin: 5px;
    }
    nav {
        position: relative;
        margin-top: -8%;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }
    .nav-links {
        position: relative;
        background: var(--headerblue);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -30%);
        -webkit-clip-path: circle(100px at 90% -30%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
        padding-left: 50px;
    }
    .landing {
        flex-direction: column;
    }
    .nav-links li {
        opacity: 0;
        margin-right: 15%;
        line-height: 3em;
    }
    .nav-links li a {
        font-size: 25px;
    }
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
        margin-top: 20%;
    }
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }
    li.fade {
        opacity: 1;
    }
}

/* hamburger END */

.aulas h1 {
    font-size: 30px;
    margin-bottom: 0;
}

.aulas h2 {
    font-size: 23px;
    width: 90%;
    margin: 6%;
    letter-spacing: -1px;
}

p>a {
    color: inherit;
}

.ensino p {
    padding: 1% 0 12% 0;
}

.ensino>.nomargin>div>p {
    border-bottom: 1px solid var(--lightblack);
}

.ensino>.nomargin>div:last-child>p {
    border-bottom: none;
}

.prof {
    width: 95%;
}

.prof>div>.box {
    margin-bottom: 5%;
}

div>.blue.big {
    font-size: 29px;
}

.recursos h1 {
    font-size: 38px;
    line-height: 42px;
}

.recursos h2 {
    color: var(--lightblack);
    font-size: 25px;
    line-height: 30px;
    align-self: flex-start;
    margin: 3% 0;
}

.recursos ul {
    list-style: unset;
    text-align: left;
    color: var(--lightblack);
    margin-top: 0;
}

.recursos ul li a {
    color: var(--lightblack);
}

.recursos ul>ul {
    margin-left: 17%;
    list-style-type: circle;
}

.curios {
    text-align: left;
}

.curios h1, .curios h2 {
    font-size: 40px;
    line-height: 46px;
    align-self: flex-start;
}

.curios h1, .curios h2, .curios p {
    padding-left: 7%;
    width: 100%;
}

.curios .wide {
    background-color: transparent;
    box-shadow: none;
}

.enigmas {
    width: 100%;
}

.enigmas img {
    width: 90%;
    margin-bottom: 5%;
}

.jogos>div {
    margin-bottom: 7%;
}

.jogos a {
    font-size: 19px;
    color: var(--lightblack);
}

.jogos div:first-child a:nth-child(2) {
    margin-top: -9%;
}

/* form start */

#contact {
    color: var(--white);
    border: none;
    border-bottom: 1px solid var(--white);
    margin-bottom: 9%;
    width: 85%;
}

#contact h2 {
    font-size: 3em;
    color: var(--white);
}

#contact-form {
    display: flex;
    flex-flow: column;
    align-items: top;
    color: var(--white);
    width: 100%;
}

#contact-form label {
    padding-right: 20px;
}

#contact-form input[type="text"], #contact-form input[type="email"] {
    border: none;
    border-radius: 0%;
    border-bottom: 1px solid var(--white);
    background: transparent;
    color: var(--white);
    width: 100%;
}

#contact-form p {
    padding-right: 20px;
    display: flex;
}

#contact-form textarea {
    border: 1px solid var(--white);
    background-color: inherit;
    color: var(--white);
    width: 100%;
    height: 70px;
}

#contact-form p:last-of-type {
    padding: 10px 20px 20px 0;
    text-align: right;
    align-self: flex-end;
}

#contact-form input[type="submit"] {
    color: var(--white);
    background-color: inherit;
    padding: 10px 30px;
    font-size: 1em;
    letter-spacing: 4px;
    font-family: var(--main-font);
    font-weight: 900;
    text-transform: uppercase;
    border: 2px solid var(--white);
}

#responce {
    display: none;
}

/* form end */

@media only screen and (min-device-width: 768px) and (max-device-width: 1027px) {
    .mainheading {
        max-width: 60%;
    }
    header h1 {
        font-size: 60px;
        line-height: 75px;
    }
    header span {
        font-size: 75px;
        font-family: var(--boldfont);
        margin-bottom: -11%;
    }
    .quote {
        width: 60%;
    }
    .modcontent {
        width: 90%;
    }
    .modalidades {
        width: 80%;
    }
    .prof h1 {
        margin-bottom: 3%;
    }
    footer.containerrow {
        flex-direction: column;
    }
    footer>div {
        max-width: 450px;
    }
    .aulas p, .leftborder p {
        width: 70%;
        align-self: center;
    }
    .ensino {
        font-size: 38px;
    }
    .ensino h2 {
        margin: 4%;
    }
    .ensino p {
        margin: 0;
        width: 55%;
        padding: 2%;
    }
    div>.blue.big {
        font-size: 40px;
        width: 100%;
    }
    .jogos {
        max-width: 60%;
    }
}

@media only screen and (min-width: 1027px) {
    /* header {
        justify-content: space-around;
    } */
    .mainheading {
        justify-content: space-around;
        margin: unset;
    }
    header h1 {
        display: flex;
        font-size: 80px;
        line-height: 90px;
        margin-bottom: 0;
    }
    header span {
        display: flex;
        margin: unset;
        font-size: 100px;
        margin-left: -10%;
    }
    nav {
        height: unset;
    }
    .nav-links {
        justify-content: flex-end;
        width: 100%;
        height: 100%;
    }
    .nav-links>li {
        margin-right: 5%;
        height: 100%;
        display: flex;
    }
    .nav-links li a {
        font-size: 25px;
        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
    }
    .quote {
        display: flex;
        justify-content: center;
    }
    h2 {
        font-size: 64px;
    }
    h3 {
        color: var(--lightblue);
    }
    .quote {
        margin-top: 5%;
        height: 12vh;
        display: flex;
        flex-flow: column;
        align-self: center;
        align-items: center;
        justify-content: center;
    }
    figure {
        text-align: center;
        width: 32%;
        margin-left: -30%;
    }
    .modalidades>.containerrow, .ensino>.containerrow {
        align-items: flex-start;
        justify-content: space-between;
        width: 90%;
        margin-top: 4%;
    }
    .modcontent {
        width: 100%;
        height: 100vh;
    }
    .modalidades {
        width: 77%;
        justify-content: center;
    }
    .rightborder {
        border-right: 1px solid #999;
    }
    .leftborder {
        border-left: 1px solid #999;
    }
    .containerrow>div {
        flex: 1;
    }
    .yt {
        width: 560px;
        height: 315px;
    }
    .yt p {
        width: 60%;
    }
    iframe {
        width: 560px;
        height: 315px;
        margin: 0;
    }
    .contact {
        align-items: flex-start;
    }
    #contact {
        margin-bottom: unset;
        border-bottom: none;
    }
    #contact-form {
        width: 60%;
    }
    .contact-left>div:first-child {
        padding-bottom: 7%;
        width: 80%;
    }
    .aulas {
        width: 100%;
    }
    .aulas h1 {
        font-size: 45px;
    }
    .aulas h2 {
        font-size: 25px;
        line-height: 31px;
        width: 60%;
        margin: 6%;
    }
    div>.blue.big {
        margin-bottom: 2%;
        font-size: 56px;
        line-height: 56px;
        width: 100%;
    }
    .prof {
        width: 95%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    .prof h1 {
        margin-bottom: 3%;
    }
    .prof>div {
        display: flex;
        flex-flow: row;
        justify-content: center;
        width: 90%;
    }
    .prof>div div:nth-child(1) {
        display: flex;
        justify-content: center;
        flex: 1;
    }
    .prof>div div:nth-child(2) {
        text-align: justify;
        align-self: center;
        justify-content: center;
        padding-left: 3%;
        margin-left: 3%;
        flex: 2;
    }
    .ensino p {
        margin: 12% 7%;
    }
    .ensino>.nomargin>div>p {
        border-bottom: none;
    }
    .recursos {
        max-width: 1000px;
    }
    .recursos h1 {
        font-size: 43px;
        line-height: 44px;
        align-self: flex-start;
        margin-bottom: 2%;
        padding: 0 5%;
    }
    .recursos ul {
        align-self: flex-start;
    }
    .recursos>.box {
        padding: 2% 10%;
    }
    .curios h1, .curios h2, .curios p {
        padding-left: unset;
    }
    .enigmas, .jogos {
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }
    .enigmas img {
        width: 40%;
    }
    .jogos div {
        flex: 1;
    }
    .jogos div img {
        width: 100%;
    }
}