* {
    box-sizing: border-box;
}

:root {
    --boldfont: 'Poppins', sans-serif;
    --regfont: 'Nunito Sans', sans-serif;
    --headerblue: #3ba7d9;
    --lightblue: #13cdf2;
    --white: #ffffff;
    --black: #000000;
    --lightblack: #3c3c3c;
    --purple: #5538c8;
    --shadow: #f3f3f3;
}

h1, h2, h3, h4, h5 {
    font-family: var(--boldfont);
}

.black {
    color: var(--lightblack);
}

.blue {
    color: var(--lightblue);
}

.containercolumn {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.containerrow {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: var(--white);
    box-shadow: 5px 1px var(--shadow);
    width: 95%;
    max-width: 1070px;
    margin-bottom: 2%;
    padding: 2% 5%;
}

.centar {
    text-align: center;
}

body {
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    flex-flow: column;
    font-family: var(--regfont);
    text-align: center;
    justify-content: center;
    align-items: center;
}

header {
    /* display: flex;
    flex-flow: column;
    justify-content: space-around; */
    background-color: var(--headerblue);
    width: 100%;
    margin: 0;
    color: var(--white);
}

.mainheading {
    justify-content: space-around;
    margin-left: 5%;
    margin-top: 5%;
}

header h1 {
    font-size: 39px;
    line-height: 42px;
    text-align: left;
    margin-left: 5%;
}

header span {
    font-size: 50px;
    font-family: var(--boldfont);
    z-index: 1;
}

h2 {
    font-size: 40px;
    color: var(--lightblue);
}

h3 {
    font-size: 27px;
}

h4 {
    font-size: 35px;
    margin-bottom: 0px;
}

p, ul {
    font-size: 20px;
    line-height: 28px;
}

ul {
    list-style: none;
    padding: 0;
}

.nomargin {
    margin: 0;
}

.nomargin li {
    font-size: 17px;
    line-height: 26px;
}

main {
    display: flex;
    flex-flow: column;
    align-items: center;
    color: var(--lightblack);
    width: 100%;
}

main .box:first-child {
    margin-top: 2%;
}

.quote {
    width: 90%;
    align-self: center;
    font-size: 22px;
}

figure {
    width: 100%;
    margin: 0;
}

figure blockquote {
    text-align: left;
    margin: 0;
}

figcaption {
    text-align: end;
}

.modcontent {
    display: flex;
    align-items: center;
    justify-content: center;
    background: center no-repeat url("../imgs/cover.png");
    background-size: cover;
    margin: 5% 0;
}

/* .metodocont {
    width: 90%;
    background: var(--white);
} */

.modalidades h3 {
    color: var(--lightblue);
}

.modalidades {
    width: 95%;
    box-shadow: none;
}

.round-button {
    background-color: var(--lightblue);
    border-radius: 25px;
    border: transparent;
    margin: 0 0 4% 0;
    /* color: var(--white);
    text-decoration: none;
    font-size: 25px;
    line-height: 40px;
    padding: 2px 15px; */
}

.round-button:hover {
    background-color: var(--purple);
}

.round-button a {
    color: var(--white);
    text-decoration: none;
    font-size: 25px;
    line-height: 40px;
    padding: 10px 15px;
}

.yt {
    font-size: 21px;
    text-align: center;
    margin: 30px 0;
    color: var(--white);
}

.ret-button {
    border: 5px solid var(--white);
    background-color: var(--headerblue);
    margin: 20px 0;
}

.ret-button a {
    text-decoration: none;
    font-size: 30px;
    line-height: 50px;
    margin: 10px;
    color: var(--white);
}

.video {
    background-color: var(--headerblue);
    /* margin-top: 5%; */
    width: 100%;
}

iframe {
    margin-bottom: 4%;
}

footer {
    background-color: var(--headerblue);
    margin-top: 5px;
    width: 100%;
    padding: 3% 0 1% 0;
    color: var(--white);
}

.contact h2, .contact span, .contact a {
    color: var(--white);
}

.contact h2 {
    font-size: 37px;
}

.contact a {
    text-decoration: none;
}

.contact span {
    line-height: 3em;
}

.social {
    margin: 0 15px;
}

.social img {
    height: 40px;
    width: 40px;
}

.logo {
    width: 100%;
}

.logo img {
    height: 125px;
}

/* hamburger */

nav {
    background: var(--headerblue);
    height: 10vh;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links a:hover {
    color: var(--black);
}

.nav-links li a {
    color: var(--white);
    text-decoration: none;
    font-size: 16px;
}

.curios {
    text-align: left;
}

.curios h1, .curios h2 {
    font-size: 40px;
    line-height: 46px;
    align-self: flex-start;
}

.curios h1, .curios h2, .curios p {
    padding-left: 7%;
    width: 100%;
}

.curios .wide {
    background-color: transparent;
    box-shadow: none;
}

.enigmas {
    width: 100%;
}

.enigmas img {
    width: 90%;
    margin-bottom: 5%;
}

.jogos>div {
    margin-bottom: 7%;
}

.jogos a {
    font-size: 19px;
}

.jogos div:first-child a:nth-child(2) {
    margin-top: -9%;
}

@media screen and (max-width: 768px) {
    .line {
        width: 30px;
        height: 3px;
        background: var(--white);
        margin: 5px;
    }
    nav {
        position: relative;
        margin-top: -8%;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }
    .nav-links {
        position: relative;
        background: var(--headerblue);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -30%);
        -webkit-clip-path: circle(100px at 90% -30%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
        padding-left: 50px;
    }
    .landing {
        flex-direction: column;
    }
    .nav-links li {
        opacity: 0;
        margin-right: 15%;
        line-height: 3em;
    }
    .nav-links li a {
        font-size: 25px;
    }
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
        margin-top: 20%;
    }
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }
    li.fade {
        opacity: 1;
    }
}

/* hamburger END */

.aulas h1 {
    font-size: 30px;
    margin-bottom: 0;
}

.aulas h2 {
    font-size: 33px;
    line-height: 33px;
    width: 90%;
    margin: 6%;
}

p>a {
    color: inherit;
}

.prof {
    width: 95%;
}

.prof>div>.box {
    margin-bottom: 5%;
}

.recursos h1 {
    font-size: 43px;
    line-height: 44px;
}

.recursos h2 {
    color: var(--black);
    font-size: 25px;
    line-height: 30px;
    align-self: flex-start;
    margin: 3% 0;
}

.recursos ul {
    list-style: unset;
    text-align: left;
    max-width: 80%;
    color: var(--black);
    margin-top: 0;
    margin-left: 6%;
}

.recursos ul li a {
    color: var(--black);
}

.recursos ul>ul {
    margin-left: 17%;
    list-style-type: circle;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1025px) {}

@media only screen and (min-width: 1025px) {
    header {
        justify-content: space-around;
    }
    .mainheading {
        margin-left: unset;
    }
    header h1 {
        display: flex;
        font-size: 70px;
        line-height: 80px;
        margin-bottom: 0;
    }
    header span {
        display: flex;
        margin: unset;
        font-size: 100px;
    }
    .nav-links {
        justify-content: flex-end;
        width: 100%;
        height: 100%;
    }
    .nav-links>li {
        margin-right: 5%;
        height: 100%;
        display: flex;
    }
    .nav-links li a {
        font-size: 25px;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .quote {
        display: flex;
        justify-content: center;
    }
    h2 {
        font-size: 64px;
    }
    h3 {
        color: var(--lightblue);
    }
    .quote {
        margin-top: 5%;
        height: 12vh;
        display: flex;
        flex-flow: column;
        align-self: center;
        align-items: center;
        justify-content: center;
    }
    figure {
        text-align: center;
        width: 32%;
        margin-left: -30%;
    }
    .modalidades>.containerrow, .ensino>.containerrow {
        align-items: flex-start;
        justify-content: space-between;
        width: 90%;
        margin-top: 4%;
    }
    .modcontent {
        width: 100%;
        height: 100vh;
    }
    .modalidades {
        width: 77%;
        justify-content: center;
    }
    .rightborder {
        border-right: 1px solid #999;
    }
    .leftborder {
        border-left: 1px solid #999;
    }
    .containerrow>div {
        flex: 1;
    }
    .yt {
        width: 560px;
        height: 315px;
    }
    .yt p {
        width: 60%;
    }
    iframe {
        width: 560px;
        height: 315px;
        margin: 0;
    }
    .contact {
        align-items: flex-start;
        padding-left: 15%;
    }
    .aulas {
        width: 100%;
    }
    .aulas h1 {
        font-size: 45px;
    }
    .aulas h2 {
        font-size: 25px;
        line-height: 31px;
        width: 60%;
        margin: 6%;
    }
    div>.blue.big {
        margin-bottom: 2%;
        font-size: 56px;
        line-height: 56px;
        width: 100%;
    }
    /* .aulas p {
        width: 80%;
    } */
    .prof {
        width: 95%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    .prof h1 {
        margin-bottom: 3%;
    }
    .prof>div {
        display: flex;
        flex-flow: row;
        justify-content: center;
        width: 90%;
    }
    .prof>div div:nth-child(1) {
        display: flex;
        justify-content: center;
        flex: 1;
    }
    .prof>div div:nth-child(2) {
        text-align: justify;
        align-self: center;
        justify-content: center;
        padding-left: 3%;
        margin-left: 3%;
        flex: 2;
    }
    .recursos h1 {
        align-self: center;
        width: 85%;
        text-align: left;
        margin-bottom: 2%;
    }
    .recursos ul {
        align-self: flex-start;
    }
    .curios h1, .curios h2, .curios p {
        padding-left: unset;
    }
    .enigmas, .jogos {
        flex-flow: row nowrap;
        width: 90%;
    }
    .enigmas img, .jogos div {
        margin: 3%;
    }
    .jogos div {
        flex: 1;
    }
    .jogos div img {
        width: 100%;
    }
}