* {
    box-sizing: border-box;
}

:root {
    --boldfont: 'Poppins', sans-serif;
    --regfont: 'Nunito Sans', sans-serif;
    --headerblue: #3ba7d9;
    --lightblue: #13cdf2;
    --white: #ffffff;
    --black: #000000;
    --lightblack: #3c3c3c;
    --purple: #5538c8;
    --shadow: #f3f3f3;
}

h1, h2, h3, h4 {
    font-family: var(--boldfont);
}

.blue {
    color: var(--lightblue);
}

.black {
    color: var(--lightblack);
}

.containercolumn {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.containerrow {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: var(--white);
    box-shadow: 5px 1px var(--shadow);
    width: 90%;
}

body {
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    flex-flow: column;
    font-family: var(--regfont);
    text-align: center;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    background-color: var(--headerblue);
    width: 100%;
    margin: 0;
    color: var(--white);
}

header h1 {
    margin-top: 20px;
    z-index: 1;
    font-size: 39px;
    line-height: 42px;
    margin-bottom: -53px;
    text-align: left;
    margin-left: 5%;
}

h2 {
    font-size: 40px;
    color: var(--lightblue);
}

h3 {
    font-size: 27px;
}

h4 {
    font-size: 24px;
    margin-bottom: 0px;
}

p, ul {
    font-size: 20px;
    line-height: 28px;
}

ul {
    list-style: none;
    padding: 0;
}

.nomargin {
    margin: 0;
}

.nomargin li {
    font-size: 17px;
    line-height: 26px;
}

main {
    display: flex;
    flex-flow: column;
    align-items: center;
    color: var(--lightblack);
}

.calc {
    width: 100%;
}

.calc>iframe {
    width: 90%;
    height: 60vh;
}

.calc>iframe:first-child {
    margin-top: 3%;
}

.quote {
    width: 90%;
    align-self: center;
    font-size: 22px;
}

figure {
    width: 100%;
    margin: 0;
}

figure blockquote {
    text-align: left;
    margin: 0;
}

figcaption {
    text-align: end;
}

.metodo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("../imgs/cover.png") center no-repeat;
    background-size: cover;
    margin: 5% 0;
}

.metodocont {
    width: 90%;
    background: var(--white);
}

.modalidades h3 {
    color: var(--purple);
}

.round-button {
    background-color: var(--lightblue);
    border-radius: 25px;
    border: transparent;
    margin: 4% 0;
}

.round-button:hover {
    background-color: var(--purple);
}

.round-button a {
    color: var(--white);
    text-decoration: none;
    font-size: 25px;
    line-height: 40px;
    padding: 10px 15px;
}

footer {
    padding: 3% 0 1% 0;
}

.yt {
    font-size: 21px;
    text-align: center;
    margin: 30px 0;
    color: var(--white);
}

.ret-button {
    border: 5px solid var(--white);
    background-color: var(--headerblue);
    margin: 20px 0;
}

.ret-button a {
    text-decoration: none;
    font-size: 30px;
    line-height: 50px;
    margin: 10px;
    color: var(--white);
}

.video {
    background-color: var(--headerblue);
    margin-top: 5%;
    width: 100%;
}

iframe {
    margin-bottom: 4%;
}

footer {
    background-color: var(--headerblue);
    margin-top: 5px;
    width: 100%;
}

.contact h2, .contact span, .contact a {
    color: var(--purple);
}

.contact h2 {
    font-size: 37px;
}

.contact a {
    text-decoration: none;
}

.social {
    margin: 0 15px;
}

.social img {
    height: 40px;
    width: 40px;
}

.logo {
    width: 100%;
}

.logo img {
    height: 125px;
}

/* hamburger */

nav {
    height: 10vh;
    background: var(--headerblue);
}

.nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
}

.nav-links a:hover {
    color: var(--black);
}

.nav-links li a {
    color: var(--white);
    text-decoration: none;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .line {
        width: 30px;
        height: 3px;
        background: var(--white);
        margin: 5px;
    }
    nav {
        position: relative;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }
    .nav-links {
        position: relative;
        background: var(--headerblue);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -30%);
        -webkit-clip-path: circle(100px at 90% -30%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
        padding-left: 50px;
    }
    .landing {
        flex-direction: column;
    }
    .nav-links li {
        opacity: 0;
        margin-right: 15%;
        line-height: 3em;
    }
    .nav-links li a {
        font-size: 25px;
    }
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
        margin-top: 20%;
    }
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }
    li.fade {
        opacity: 1;
    }
}

/* hamburger END */

.aulas {
    width: 90%;
}

.aulas .box:first-child {
    margin: 4% 0;
}

.aulas h1 {
    font-size: 30px;
    margin-bottom: 0;
}

.aulas h2 {
    margin-bottom: 0px;
    font-size: 35px;
    line-height: 39px;
}

.aulas .smaller {
    font-size: 25px;
    font-family: var(--regfont);
}

p>a {
    color: inherit;
}

.prof {
    width: 90%;
}

.prof>div {
    display: flex;
    flex-flow: column-reverse;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1025px) {}

@media only screen and (min-width: 1025px) {
    header {
        height: 40vh;
    }
    header h1 {
        font-size: 70px;
        line-height: 80px;
        margin: 30px 0 -30px 0;
        margin-left: 11%;
    }
    .nav-links {
        justify-content: right;
        width: 100%;
    }
    .nav-links>li {
        margin-right: 5%;
    }
    .nav-links li a {
        font-size: 25px;
    }
    .quote {
        display: flex;
        justify-content: center;
    }
    h2 {
        font-size: 64px;
    }
    h3 {
        color: var(--lightblue);
    }
    .calc>iframe {
        height: 60vh;
        width: 95%;
        margin-bottom: 3%;
    }
    .quote {
        margin-top: 5%;
        height: 12vh;
        display: flex;
        flex-flow: column;
        align-self: center;
        align-items: center;
        justify-content: center;
    }
    figure {
        text-align: center;
        width: 32%;
        margin-left: -30%;
    }
    .metodo {
        display: flex;
        height: 100vh;
    }
    .metodocont {
        width: 77%;
    }
    .modalidades {
        width: 90%;
    }
    .modalidades>.containerrow, .ensino>.containerrow {
        align-items: flex-start;
        justify-content: space-between;
        width: 90%;
        margin-top: 4%;
    }
    .modalidades h3 {
        color: var(--lightblue);
    }
    .modcontent {
        width: 100%;
    }
    .rightborder {
        border-right: 1px solid #999;
    }
    .containerrow>div {
        flex: 1;
    }
    .yt {
        width: 560px;
        height: 315px;
    }
    .yt p {
        width: 60%;
    }
    iframe {
        width: 560px;
        height: 315px;
        margin: 0;
    }
    .aulas {
        width: 100%;
    }
    .aulas h1 {
        font-size: 45px;
    }
    .aulas h2 {
        font-size: 56px;
        line-height: 56px;
    }
    .aulas p {
        width: 80%;
    }
    .prof {
        height: 70vh;
        width: 70%;
        display: flex;
        flex-flow: column;
    }
    .prof h1 {
        align-self: self-start;
        margin-left: 13%;
    }
    .prof>div {
        flex-flow: row;
    }
    .prof>div div {
        flex: 1;
    }
    .prof>div div:nth-child(2) {
        text-align: left;
        align-self: center;
    }
}